.mobileTable {
    width: 355px;
    
  }
  
  .tableRow {
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    background-color: #f2f2f2;
  }
  
  .tableHeader img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .tableDetails {
    padding: 10px;
    background-color: #fff;
  }

  @media (min-width: 375px) {
    .table {
      display: none;
    }
    
  }
  