.mobileTable {
  width: 335px;
  margin-left: 10px;
  
}

.tableRow {
  border: 1px solid #ddd;
  margin-top: none;
}

.cabeçalho {
  display:flex;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  width: 335px;
  height: 47px;
  top: 204px;
  left: 20px;
  border-radius: 8px 8px 0px 0px;
  background: linear-gradient(180deg, #5A84C0 0%, #594ED2 100%);
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.tableHeader img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.tableDetails {
  padding: 10px;
  background-color: #fff;
}

